.down_part {
    background-color: rgb(90, 90, 90);
    border-color: rgb(90, 90, 90);
    border-width: 1px;
    border-style: solid;
    height: 120px;
}

.down_h1 {
        font-size: 30px;
        color: rgb(241, 240, 238);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: left;
        margin: auto;
}

.down_p1 {
        font-size: 15px;
        color: rgb(241, 240, 238);
        text-transform: uppercase;
        line-height: 1.5;
        text-align: left;
}
.name_box {
        border-style:inherit;
        border-width: .5px;
        border-color: rgb(179, 179, 179);
        background-color: rgb(108, 109, 109);
        padding-right: 10px;
}
.name_box :hover {
    border-color: rgb(179, 179, 179);
}
.email_box {
    border-style:inherit;
    border-width: .5px;
    border-color: rgb(179, 179, 179);
    background-color: rgb(108, 109, 109);
    padding-right: 10px;
}
.email_box :hover {
    border-color: rgb(179, 179, 179);
}

.down_btn {
    width: 80px;
    height: 30px;
    border-style:inherit;
    background-color: rgb(135, 135, 135);
    color: white;
    font-weight: 700;
    font-style: italic;
}